@import '../bower_components/bootstrap/less/variables';
@import '../bower_components/bootstrap/less/mixins';

@import 'fonts';

@bg-color: #f1eee9;
@accent: #e8a943;

body, html {
	color: #444;
	font-family: 'Helvetica Neue', Helvetica, Arial;
	background: @bg-color;
}

h1,
h2,
h3,
h4 {
	font-family: 'Optimus';
}

.btn {
	text-transform: uppercase;
}

.btn-success {
	background: @accent;
	border-color: @accent;

	&:hover {
		background: darken(@accent, 4%);
		border-color: darken(@accent, 4%);
	}
}

.navbar {
	#gradient.vertical(rgba(39, 18, 2, 0.8), rgba(39, 18, 2, 0.7));
	box-shadow: 0 1px 3px rgba(0,0,0,.08);
	border: none;
	border-radius: 0;
	min-height: 46px;
	position: fixed;
	z-index: 200;
	top: 0;
	left: 0;
	right: 0;

	.navbar-brand {
		color: white;
		font-family: 'Optimus';
	}

	.navbar-toggle {
		border: 1px solid rgba(255,255,255,0.2);

		span.icon-bar {
			background: white;
		}
	}

	.navbar-nav {
		& > li > a {
			text-decoration: none;
			color: rgba(255,255,255,0.8);
			text-transform: uppercase;
			font-weight: 500;
			padding: 13px 46px;
			letter-spacing: 1px;

			@media (max-width: @screen-lg) {
				padding: 13px 32px;
			}

			@media (max-width: @screen-md) {
				padding: 13px 16px;
			}

			&:hover {
				color: rgba(255,255,255,1);
				background: transparent;
			}
		}

		& > li.active > a {
			color: white;
		}

		@media (min-width: @screen-sm) {
			float: none;
			margin: 0 auto;
			text-align: center;

			& > li {
				float: none;
				display: inline-block;
			}
		}
	}
}

.primary-bg-image {
	position: absolute;
	z-index: 10;
	height: 90%;
	background-image: url('/img/hero.jpg');
	background-size: cover;
	background-position: 50% 50%;
	top: 0;
	left: 0;
	right: 0;

	@media (max-width: @screen-sm) {
		background-position: 10% 50%;
	}
}

.hero-info-wrap {
	position: absolute;
	display: table;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 80%;
	text-align: center;

	.hero-info {
		color: white;
		display: table-cell;
		vertical-align: middle;
		padding-top: 46px;

		small {
			font-size: 18px;
			font-weight: 600;
			text-transform: uppercase;
			text-shadow: 0 1px 74px #000000, 0 1px 20px rgba(0, 0, 0, 0.7), 0 1px 8px rgba(0,0,0,.3);

			i {
				opacity: 0.6;
				font-family: 'Optimus';
				-webkit-transform: rotate(78deg);
				-ms-transform: rotate(90deg);
				transform: rotate(90deg);
				display: inline-block;
				font-size: 43px;
				line-height: 0px;
				font-family: 'ios7-icon';
				margin: 0;
				vertical-align: middle;
				-webkit-text-rendering: geometricPrecision;
				-moz-text-rendering: geometricPrecision;
				-ms-text-rendering: geometricPrecision;
				-o-text-rendering: geometricPrecision;
				text-rendering: geometricPrecision;
				-webkit-font-smoothing: antialiased;
				-moz-font-smoothing: antialiased;
				-ms-font-smoothing: antialiased;
				-o-font-smoothing: antialiased;
				font-smoothing: antialiased;
				margin: 0 13px 5px;
			}
		}

		h1 {
			font-size: 124px;
			margin: 14px 0 28px;
			text-shadow: 0 1px 74px black, 0 1px 20px rgba(0,0,0,.3);

			@media (max-width: @screen-sm) {
				font-size: 60px;
			}
		}

		p.description {
			font-size: 32px;
			font-weight: 200;
			letter-spacing: 1px;
			max-width: 470px;
			margin: 0 auto;
			text-shadow: 0 1px 74px #000000, 0 1px 20px rgba(0, 0, 0, 0.7), 0 1px 8px rgba(0,0,0,.3);

			@media (max-width: @screen-sm) {
				font-size: 20px;
			}

			span {
				font-family: 'Optimus';
				font-size: 42px;
				line-height: 18px;
				vertical-align: middle;
				margin: 0 1px 0 4px;
			}
		}
	}
}

.section-wrap {
	position: absolute;
	top: 80%;
	left: 0;
	right: 0;
}

.section {
	position: relative;
	z-index: 100;
	margin: 0 0 70px 0;

	h2 {
		text-align: center;
		margin: 70px 0 52px 0;
	}
}

.section-cards {
	position: relative;
	height: 520px;
	box-shadow: 0 3px 28px rgba(0,0,0,.04), 0 3px 8px rgba(0,0,0,.08);
	background: lighten(@bg-color, 3%);

	@media (max-width: @screen-sm) {
		height: auto;
	}

	.card {
		position: absolute;
		display: table;
		width: 50%;
		height: 50%;
		text-align: center;

		@media (max-width: @screen-sm) {
			position: relative;
			width: 100%;
			height: auto;
			padding: 40px 0;
		}

		.card-contents {
			display: table-cell;
			vertical-align: middle;
			padding: 0 40px;
		}

		h3 {
			font-size: 44px;
			line-height: 38px;
			opacity: 0.94;

			span {
				font-size: 42px;
				font-family: 'Helvetica Neue';
				font-weight: 600;
				line-height: 45px;
				opacity: .64;
			}
		}

		p {
			font-size: 13px;
			text-transform: uppercase;
			font-weight: 500;
			letter-spacing: 1px;
			max-width: 390px;
			margin: 20px auto 0;
			opacity: 0.66;
			color: darken(desaturate(@accent, 40%), 30%);
		}

		@card-bg: rgba(0,0,0,.08);

		&.top-left { top: 0; left: 0; border-bottom: 1px solid @card-bg; border-right: 1px solid @card-bg; }
		&.top-right { top: 0; right: 0; border-bottom: 1px solid @card-bg; }
		&.bottom-left { bottom: 0; left: 0; border-right: 1px solid @card-bg; }
		&.bottom-right { bottom: 0; right: 0;}
	}
}

ul.designs {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		display: block;
	}
}

.design-card {
	display: block;
	box-shadow: 0 3px 28px rgba(0,0,0,.04), 0 3px 8px rgba(0,0,0,.08);
	position: relative;
	margin-bottom: 40px;
	background: white;

	.card-bg {
		position: absolute;
		z-index: 10;
		background: desaturate(darken(@accent, 20%), 4%);
		top: 0;
		left: 0;
		bottom: 0;
		width: 58%;

		@media (max-width: @screen-sm) {
			display: none;
		}
	}

	.img-carousel-wrap {
		display: block;
		position: relative;
		width: 58%;
		padding: 48px;

		@media (max-width: @screen-md) {
			padding: 38px;
		}

		@media (max-width: @screen-sm) {
			width: 100%;
			padding: 0;
		}
	}

	.img-carousel {
		position: relative;
		z-index: 100;
		margin: 0;
		padding: 24px;
		background: white;
		margin-right: -114px;
		box-shadow: 0 3px 28px rgba(0,0,0,.04), 0 3px 8px rgba(0,0,0,.08);

		@media (max-width: @screen-md) {
			padding: 18px;
			margin-right: -84px;
		}

		@media (max-width: @screen-sm) {
			margin-right: 0;
			box-shadow: none;
			padding: 0;
		}

		.img {
			height: 420px;
			width: 100%;
			background-color: #aaa;
			background-size: cover;
			background-position: 50% 50%;
		}
	}

	.design-card-contents {
		position: absolute;
		right: 0;
		left: calc(~"58% + 66px");
		padding: 26px 38px 46px;
		top: 0;
		bottom: 0;

		@media (max-width: @screen-md) {
			left: calc(~"58% + 46px");
			padding: 26px 28px 46px;
		}

		@media (max-width: @screen-sm) {
			left: auto;
			right: auto;
			top: auto;
			bottom: auto;
			padding: 0 20px 73px;
			position: relative;
		}

		h3 {
			font-size: 40px;
			line-height: 46px;

			@media (max-width: @screen-md) {
				font-size: 35px;
				line-height: 42px;
			}
		}

		p {
			font-size: 18px;
			font-weight: 100;
			letter-spacing: 1px;
			line-height: 26px;

			@media (max-width: @screen-md) {
				font-size: 16px;
				line-height: 24px;
			}
		}

		span.info {
			font-weight: 600;
			text-transform: uppercase;
			margin: 14px 0 30px;
			display: block;
			color: @accent;

			@media (max-width: @screen-lg) {
				margin-bottom: 22px;
			}

			@media (max-width: @screen-md) {
				margin-bottom: 18px;
				font-size: 11px !important;
			}

			@media (max-width: @screen-sm) {
				margin-bottom: 8px;
			}

			span.location {
				color: #444;
				font-family: Georgia;
				font-weight: 400;
				text-transform: none;
				margin-left: 8px;
				font-size: 13px;
				vertical-align: top;
				display: inline-block;
				margin-top: 1px;
				opacity: 0.84;
			}
		}

		.btns {
			position: absolute;
			bottom: 46px;

			@media (max-width: @screen-md) {
				bottom: 36px;
			}

			@media (max-width: @screen-sm) {
				bottom: 23px;
			}

			.btn {
				font-size: 16px;
				font-weight: 600;
				padding: 12px 22px;
				margin-right: 12px;
				color: @accent;
				border-color: rgba(0,0,0,.12);

				@media (max-width: @screen-md) {
					font-size: 14px;
					padding: 9px 14px;
					margin-top: 6px;
				}
			}

			.share {
				display: inline-block !important;
				vertical-align: top;
				width: 113px !important;
				height: 46px !important;

				@media (max-width: @screen-lg) {
					margin-top: 8px;
				}

				label {
					background: @accent !important;
					color: white !important;
					padding: 12px 21px !important;
					margin-top: 0 !important;
				}

				.social.top {
					margin-top: -91px !important;
					position: absolute;
					z-index: 400;
				}
			}
		}
	}
}

#plans-pricing {
	background: #555;
	background-image: url('/img/chalk.jpg');
	background-size: cover;
	background-position: 50% 50%;
	color: white;
	padding: 72px 0;

	@media (max-width: @screen-sm) {
		padding: 24px 0 60px;
	}

	.plan-contact-card {
		position: relative;
		float: left;
		box-shadow: 0 3px 28px rgba(0,0,0,.04), 0 3px 8px rgba(0,0,0,.08);
		background: white;
		width: 35%;
		color: rgba(0,0,0,0.8);

		@media (max-width: @screen-sm) {
			width: 100%;
			float: none;
		}

		.est {
			text-align: center;
			padding: 18px 24px;
			background: #FCF3E5;
			color: rgba(0,0,0,.5);
			font-style: italic;
			font-family: Georgia;
		}

		.starting {
			padding: 24px;
			text-align: center;

			@media (max-width: @screen-md) {
				padding: 18px;
			}

			.divider {
				width: 100%;
				height: 0;
				border-bottom: 1px solid rgba(0, 0, 0, 0.08);
				margin: 34px 0 23px;

				@media (max-width: @screen-md) {
					margin: 24px 0 23px;
				}
			}

			p.main {
				text-align: center;
				font-size: 46px;
				font-family: 'Optimus';
				line-height: 46px;
				margin: 0;
				padding: 24px 0 5px;
				letter-spacing: 0px;
				opacity: 1;

				@media (max-width: @screen-md) {
					font-size: 28px;
					line-height: 36px;
					padding: 10px 0 0px;
				}
			}

			p {
				font-size: 22px;
				font-weight: 100;
				line-height: 28px;
				margin: 4px 0 80px 0;
				letter-spacing: 1px;
				opacity: 0.84;

				@media (max-width: @screen-md) {
					font-size: 20px;
				}
			}

			.btn {
				position: absolute;
				bottom: 24px;
				left: 24px;
				right: 24px;
				padding: 18px;
				width: auto;
				text-align: center;
				font-size: 16px;
				text-transform: uppercase;
				font-weight: 600;

				@media (max-width: @screen-md) {
					font-size: 12px;
				}
			}
		}
	}

	.questions {
		float: right;
		width: 65%;
		padding: 26px 0 0 78px;

		@media (max-width: @screen-md) {
			padding: 16px 0 0 78px;
		}

		@media (max-width: @screen-sm) {
			width: 100%;
			float: none;
			padding: 40px 0 0 0;
		}

		h5 {
			font-size: 32px;
			font-family: 'Optimus';
			margin: 0 0 24px;
		}

		ul {
			margin: 0;
			padding: 0 18px;
			list-style-type: square;

			li {
				float: left;
				width: 50%;
				margin: 9px 0px;
				font-size: 18px;
				font-weight: 500;
				text-transform: uppercase;
				text-shadow: 0 1px 4px rgba(0,0,0,.1);

				@media (max-width: @screen-md) {
					font-size: 14px;
				}

				@media (max-width: @screen-sm) {
					width: 100%;
				}
			}
		}
	}
}

#contact {
	text-align: center;

	h4 {
		font-size: 32px;
		margin-bottom: 32px;
	}

	form, .table-wrap {
		max-width: 480px;
		margin: 0 auto;
		padding: 24px;
		box-shadow: 0 3px 28px rgba(0,0,0,.04), 0 3px 8px rgba(0,0,0,.08);
		background: white;

		table {
			width: 100%;

			tr {
				font-size: 18px;

				@media (max-width: @screen-sm) {
					font-size: 12px;
				}

				td {
					text-align: left;
					padding: 8px;

					&.lab {
						opacity: .8;
						font-weight: 500;
					}
				}
			}
		}

		.input-group {
			margin-bottom: 16px;
			display: block;
			border: none;

			.input-group-addon {
				box-shadow: inset 0 3px 28px rgba(0,0,0,.03), inset 0 3px 6px rgba(0,0,0,.06);
				display: inline-block;
				float: left;
				width: 34%;
				text-align: right;
				border: none;
				background: #F5E6DA;
			}

			.form-control {
				box-shadow: inset 0 3px 28px rgba(0,0,0,.03), inset 0 3px 6px rgba(0,0,0,.06);
				display: inline-block;
				width: 66%;
				border: none;
				background: #FAF1EA;
			}

			.form-control:focus {
				background: white;
			}
		}

		.btn {
			width: 100%;
			padding: 18px;
			text-transform: uppercase;
			font-size: 18px;
			margin-top: 16px;
			font-weight: 700;
		}
	}
}

.footer {
	background: darken(@bg-color, 10c);
	text-align: center;
	font-size: 12px;
	font-weight: 500;
	padding: 24px;
}

.slick-prev, .slick-next {
	background: rgba(0, 0, 0, 0.7);
	padding: 8px;
	width: 40px;
	height: 46px;
	border-radius: 0 10px 10px 0;
	margin-top: -23px;
	right: auto;
	left: 24px;
	border: 1px solid rgba(255, 255, 255, 0.26);
	border-left: 0;
	border-bottom-color: black;

	@media (max-width: @screen-md) {
		left: 18px;
	}

	@media (max-width: @screen-sm) {
		left: 0;
	}
}

.slick-next {
	border-radius: 10px 0 0 10px;
	left: auto;
	right: 24px;

	@media (max-width: @screen-md) {
		right: 18px;
	}

	@media (max-width: @screen-sm) {
		right: 0;
	}
}
