---
layout: default
---

<nav class="navbar" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ljt-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand visible-xs" href="#">LJT Designs</a>
		</div>
		<div class="collapse navbar-collapse" id="ljt-navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="active home"><a href="#home">Home</a></li>
				<li class="whyus"><a href="#whyus">Why choose us?</a></li>
				<li class="homes-designs"><a href="#homes-designs">Homes &amp; Designs</a></li>
				<li class="plans-pricing"><a href="#plans-pricing">Plans &amp; Pricing</a></li>
				<li class="contact"><a href="#contact">Contact</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="primary-bg-image"></div>
<div class="hero-info-wrap" id="home">
	<div class="hero-info">
		<small><i>&#0167</i> Affordable Luxury <i>&#0167</i></small>
		<h1>LJT Designs</h1>
		<p class="description">
			Home Design, Remodeling, <span>&amp;</span> Building in Chicagoland
		</p>
	</div>
</div>
<div class="section-wrap">
	<div class="container">
		<div class="section section-cards" id="whyus">
			<div class="card top-left">
				<div class="card-contents">
					<h3>The real deal</h3>
					<p>The best home design requires attention to detail, creativity, and knowledge.</p>
				</div>
			</div>
			<div class="card top-right">
				<div class="card-contents">
					<h3>We pass on savings</h3>
					<p>We source great products directy from manufacturers.</p>
				</div>
			</div>
			<div class="card bottom-left">
				<div class="card-contents">
					<h3>Experience matters</h3>
					<p>Our process is designed to maximize transparency and make you happy.</p>
				</div>
			</div>
			<div class="card bottom-right">
				<div class="card-contents">
					<h3>Your design</h3>
					<p>We work closely with you to create a design which reflects your taste.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="section" id="homes-designs">
			<h2>Homes &amp; Designs</h2>
			<ul class="designs">
				{% for design in site.designs %}
				<li>
					<div class="design-card" id="{{ design.id }}">
						<div class="card-bg"></div>
						<div class="img-carousel-wrap">
							<div class="img-carousel">
								{% for i in (1...design.numImages) %}
									<div class="img">
										<div class="img-table">
											<div class="img-wrap">
												<div class="img-center-wrap">
													<img class="lazy" data-original="/img/designs/{{ design.id }}/{{ i }}.jpg">
												</div>
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
						<div class="design-card-contents">
							<h3>{{ design.name }}</h3>
							<span class="info">{{ design.style }} <span class="location">{{ design.location }}</span></span>
							<p>{{ design.descript }}</p>
							<div class="btns">
								<a class="btn btn-default view-process btn-lg" target="_blank" href="{{ design.process }}">View Process</a>
								<div class="share share-{{ design.id }}" data-design="{{ design.id }}" data-name="{{ design.name }}" data-href="{{ design.id | prepend: '#' | prepend: site.url }}"></div>
							</div>
						</div>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="section" id="plans-pricing">
		<div class="container">
			<div class="plan-contact-card">
				<div class="est">
					Designing since 1976
				</div>
				<div class="starting">
					<p class="main">We can design &amp; build projects on a tight budget.</p>
					<div class="divider"></div>
					<p>In-person consultation: $125/hr - $500 minimum</p>
					<a class="btn btn-success">Contact us</a>
				</div>
			</div>
			<div class="questions">
				<h5>We can do it!</h5>
				<ul class="clearfix">
					<li>Interior Design</li>
					<li>Custom Building &amp; Additions</li>
					<li>Home Renovation</li>
					<li>Home Remodeling</li>
					<li>Kitchens</li>
					<li>Baths</li>
					<li>Basements</li>
					<li>Exteriors &amp; Outdoors</li>
					<li>Interiors</li>
					<li>Lighting</li>
					<li>Furniture</li>
					<li>Window Treatments</li>
					<li>Hardware</li>
					<li>Custom Bedding</li>
					<li>Reupholstering</li>
					<li>Fabric</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="section" id="contact">
		<div class="container">
			<h4>Let's chat, free &amp; no commitment necessary!</h4>
			<div class="table-wrap">
				<table>
					<tbody>
						<tr>
							<td class="lab">Email</td>
							<td>hi@ljtdesigns.com</td>
						</tr>
						<tr>
							<td class="lab">Phone</td>
							<td>(630) 474-3322</td>
						</tr>
						<tr>
							<td class="lab">Facebook</td>
							<td><a href="http://facebook.com/ljtdesigns">http://facebook.com/ljtdesigns</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<!--<form action="/submit/contact">
				<div class="input-group input-group-lg clearfix">
					<span class="input-group-addon">Your email</span>
					<input type="email" class="form-control" placeholder="example@youremail.com" name="email">
				</div>
				<div class="input-group input-group-lg clearfix">
					<span class="input-group-addon">Your city</span>
					<input type="text" class="form-control" placeholder="City, State" name="city">
				</div>
				<div class="input-group input-group-lg clearfix">
					<span class="input-group-addon">Budget</span>
					<input type="text" class="form-control" placeholder="$xx,xxx" name="budget">
				</div>
				<button type="submit" class="btn btn-success">Send</button>
			</form>-->
		</div>
	</div>
	<div class="footer">
		2014 &copy; LJT Designs, Inc. - <a href="https://github.com/ztratar/ljtdesigns.com">This website is open source</a>
	</div>
</div>
