<head>
	<title>LJT Designs - Affordable Luxury Home Design and Build</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="description" content="Home Design, Remodeling, &amp; Building in Chicagoland">

	<link rel="icon" type="image/png" href="{{ "img/favicon.png" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}">

	<script src="{{ "js/main.min.js" | prepend: site.baseurl }}"></script>
</head>
