<head>
	<title>LJT Designs - Affordable Luxury Home Design and Build</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="description" content="Home Design, Remodeling, &amp; Building in Chicagoland">

	<link rel="icon" type="image/png" href="{{ "img/favicon.png" | prepend: site.baseurl }}">
    <link rel="canonical" href="http://www.ljtdesigns.com">
    <link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}">

	<meta property="og:title" content="LJT Designs"/>
	<meta property="og:description" content="Affordable Luxury - Home Building, Remodeling, and Design in Chicagoland."/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="http://www.ljtdesigns.com"/>
	<meta property="og:image" content="http://www.ljtdesigns.com/img/hero.jpg">
	<meta property="og:site_name" content="LJT Designs - Affordable Luxury">

	<script src="{{ "js/main.min.js" | prepend: site.baseurl }}"></script>
</head>
